<!DOCTYPE html>
<html class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800" rel="stylesheet">
<meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Moment of silence</title>

  <!--script src="/lib/socket.io.slim.js"></script-->

  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="/lib/velocity.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    window.IS_CLIENT = true;
    window.IS_SERVER = false;
  </script>
  </head>

  <body dir="<%= i18n.HTML_DIR %>" class="<%= i18n.LANG %>">
    <script src="/bundle.js"></script>
    <section id="siren-wait" style="display:block;">
       
        <section id="welcome">
            <p>
                <%= i18n.WELCOME_1 %>
            </p>
            <p>
                <%= i18n.WELCOME_2 %>
            </p>
            <p>
                <%= i18n.WELCOME_3 %>
            </p>
            <p>
                <%= i18n.WELCOME_4 %>
            </p>
        </section>

        <section id="number-connected">
            <p>
                <span id="connected-message">
                    <%= i18n.NUM_CONNECTED %>
                </span>
                <span id="connected-value"></span>
            <p>
        </section>
          <section id="lang-select">
            <a class="lang-link" data-lang="he" href="">עברית</a>
            <a class="lang-link" data-lang="en" href="">English</a>
        </section>
        <section id="siren-countdown" style="display:none;">
            <p dir="ltr">
                <span id="siren-message">
                    Starting in:
                </span>
                <span id="countdown-value"></span>
            <p>
        </section>
    </section>
    <section id="siren-container" style="display:none;">
        <section id="siren-press" style="display:block;">
                <div id="siren-title">
                    <%= i18n.SIREN_TITLE %>
                </div>
                <div id="siren-instructions">
                    <p>
                        <%= i18n.SIREN_INSTRUCTIONS %>
                    </p>
                </div>
        </section>
        <section id="siren-anim">
            <span id="siren-count"></span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="<%= i18n.VIEWBOX %>"><defs>
                <style>
                        .letter{fill:none;stroke-width:8px;}
                </style></defs><title>Artboard 3</title>
                <clipPath id="sirenClip-yes">
                    <% for (var i=0; i<i18n.YES_PATH.length; i++) { %>
                        <path d="<%= i18n.YES_PATH[i] %>"/>
                    <% } %>
                </clipPath>
                <clipPath id="sirenClip-no">
                    <% for (var i=0; i<i18n.NO_PATH.length; i++) { %>
                        <path d="<%= i18n.NO_PATH[i] %>"/>
                    <% } %>
                </clipPath>
                <g class="no"
                    data-fill-y="<%= i18n.FILL_SIZE['no'][0] %>"
                    data-fill-height="<%= i18n.FILL_SIZE['no'][1] %>"
                >
                    <% for (var i=0; i<i18n.NO_PATH.length; i++) { %>
                        <path class="letter" d="<%= i18n.NO_PATH[i] %>"/>
                    <% } %>
                </g>
                <g class="yes"
                   data-fill-y="<%= i18n.FILL_SIZE['yes'][0] %>"
                   data-fill-height="<%= i18n.FILL_SIZE['yes'][1] %>"
                >
                    <% for (var i=0; i<i18n.YES_PATH.length; i++) { %>
                        <path class="letter" d="<%= i18n.YES_PATH[i] %>"/>
                    <% } %>
                </g>
                <rect 
                    id="fillRect" y="300" width="100%" height="0" style="fill:rgb(0,0,255)" clip-path=""/>
            </svg>
            <div id="siren-pause" style="display:none;">
                <p id="you-paused" style="display:none;">
                    <%= i18n.YOU_PAUSED %>
                <p>
                <p id="they-paused" style="display:none;">
                    <%= i18n.THEY_PAUSED %>
                <p>
                <p>
                    <%= i18n.RESUME %>
                </p>
            </div>
        </section>
        <section id="siren-thumbs">
            <div class="thumb-button" data-thumb="right">
                <%= i18n.THUMB %>
            </div>
            <div class="thumb-button" data-thumb="left">
                <%= i18n.THUMB %>
            </div>
        </div>
        </section>
    </section>
    <section id="siren-over" style="display:none;">
        <p>
            <%= i18n.SIREN_OVER %>
        </p>
        <p>
            <%= i18n.MAY_SURF %>
        </p>
        <a href="raycaster.xyz">raycaster studio</a>
    </section>
    <%if (auth) { %>
        <form id="auth-form" method="get" action="<%= auth.action %>">
            <input name="tok" type="hidden" value="<%= auth.tok %>">
            <input name="redir" type="hidden" value="<%= auth.redir %>">
        </form>
    <% } %>
  </body>
</html>
